body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

footer {
    text-align: center;
    background: $page-gray;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
