@mixin bg-image($image-name) {
    background: {
        image: url('../img/'+$image-name);
        position: right;
        repeat: no-repeat;
        size: cover;
    }
}

@mixin btn($left,
$top) {
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
}

@mixin icon($height,
$width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 30px;
    background-color: $page-light;
}

@mixin icon-before($height,
$width,
$top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $page-light;
    content: "";
    top: $top;
}

@mixin icon-after($height,
$width,
$top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $page-light;
    content: "";
    top: $top;
}

@mixin before-bar($color) {
    &:before {
        content: '';
        width: 5rem;
        height: 1px;
        border-top: 4px solid $color;
        position: absolute;
        top: 0;
    }
}

@mixin child-service-icon($num) {
    &:nth-child(#{$num}) {
        &:before {
            position: absolute;
            bottom: 3rem;
            left: 0;
            right: 0;
            content: url('../img/services'+$num+'.jpg');
        }
    }
}
