.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem 2rem 2rem;
    position: relative;
    &__text {
        height: auto;
        width: 50%;
        h1,
        h2 {
            text-transform: uppercase;
            margin: 0.5rem 0;
        }
        p {
            position: relative;
            padding-top: 1.5rem;
            @include before-bar($page-orange);
        }
    }
    &__icons {
        height: auto;
        max-width: 400px;
        width: 45%;
        position: relative;
        min-height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 1rem;
    }
    &__item {
        display: flex;
        text-transform: uppercase;
        font-weight: bolder;
        position: relative;
        text-align: center;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 1rem;
        height: 150px;
        width: 200px;
        margin: 0;
        flex-basis: 50%;
        @include child-service-icon(1);
        @include child-service-icon(2);
        @include child-service-icon(3);
        @include child-service-icon(4);
    }
    @media only screen and (max-width: 1058px) {
        flex-direction: column;
        height: auto;
        &__text {
            margin: 2rem 0 0 1rem;
            width: 70%;
        }
        &__btn {
            position: absolute;
            bottom: 1rem;
            left: calc(50% - 88px);
        }
        &__icons {
            margin: -1rem 0 4rem 0;
            max-width: none;
            justify-content: center;
            width: 80%;
        }
    }
    @media only screen and (max-width: 750px) {
        &__text {
            margin: 0;
            width: 100%;
        }
        &__icons {
            width: 90%;
        }
        &__item {
            width: 130px;
        }
    }
    @media only screen and (max-width: 380px) and (max-height: 640px) {}
}
